<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<table style="width:100%">
  <tr>
    <td><b>Pokemon</b></td>
    <td><b>Level</b></td> 
    <td><b>Health</b></td> 
    <td><b>Damage</b></td> 
  </tr>
  <tr>
    <% @trainer.pokemon.each do |pet|%>
    <% if current_trainer.id == @trainer.id%>
          <td><%= pet.name %></td> 
          <td><%= pet.level %></td>
          <td><%= pet.health %></td>
          <% if pet.health <= 0 %>
            <td><%= button_to "Heal", damage_path(id: pet), :class => "button medium", :method => :patch %> </td>
          <% else %>
            <td><%= button_to "Damage", damage_path(id: pet), :class => "button medium", :method => :patch %> </td>
          <% end %>    
        <% end %>  
        <% if pet.health > 0 and current_trainer.id != @trainer.id %>
          <td><%= pet.name %></td> 
          <td><%= pet.level %></td>
          <td><%= pet.health %></td>
          <td><%= button_to "Damage", damage_path(id: pet), :class => "button medium", :method => :patch %> </td>
        <% end %>
  </tr>

  <% end %>
</table>
<% if @trainer.id == current_trainer.id %>
<p><%= button_to "New Pokemon", pokemon_new_path, :class => "button medium", :method => :get %> </p>
<% end %>